/** {
  border: 1px solid red;
}*/

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-image:
      url("../images/dark.png");
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 30px;
  /*font-size: 2vw;*/
  /*line-height: 1.42857143;*/
  /*margin-top: 20px;*/
}

#title {
  text-align: center;
}

#description {
  text-align: center;
}


/* copied from TM Tribute Page CSS */



section {
  background-color: #ccc;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 16px;
  border: 4px solid #5fc3c5;
  padding: 20px;
}


.section {
  background-color: #bebebe;
  margin: 0 auto;
  /*width: 100%;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  padding-left: 15px;
  padding-right: 15px;
}